npx @modelcontextprotocol/cli@0.16.8 `
  --transport stdio `
  --command "D:\App\WorkingFolder\User\Prototype\MCP-MSQL\.venv\Scripts\python.exe" `
  --args "-m","app.mcp.server" `
  --env "PYTHONPATH=D:\App\WorkingFolder\User\Prototype\MCP-MSQL" `
  list-tools
